.socialInviteClass img {
    width: 15vw;
    height: 30vh;
    border-radius: 50%;
    background-color: #FFF;
}

.socialInviteClass {
    color: #FFF;
    align-items: center;
    text-align: center;
}
