.volunteerProfileContainer {
    margin: 5vh auto;
    padding: 5vh 5vw;
    width: 50%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.volunteerProfileContainer form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.volunteerProfileContainer form .collapsibleBtn {
    padding: 0.5vh 1vw;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    background-color: #45BBC2;
    color: white;
    font-weight: 600;
    width: 40%;
}

.volunteerProfileContainer h3 {
    font-size: medium;
}

.volunteerProfileContainer .btnClass {
    width: 50%;
    margin: 3vh auto;
}

.volunteerImg {
    width: 12vw;
    margin-right: 2vw;
}

.volunteerImg img {
    width: 100%;
}

.volunteerImgNameSocialReason {
    display: flex;
    align-items: center;
}

.volunteerSideImageContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.volunteerSideImageLine {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.volunteerSideImage {
    width: 48%;
}

.volunteerProfileContainer input[type=text] {
    width: 100%;
    padding: 1vh 0;
    border: 1px solid black;
    border-radius: 8px;
}

.volunteerPhones {
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
}

.volunteerPhone1, .volunteerPhone2 {
    width: 49%;
}

.volunteerAddressContainer {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.volunteerAddressLine {
    margin-top: 1vh;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.volunteerAddressSideComponent {
    width: 22%;
}

.volunteerAddressMiddleComponent {
    width: 52%;
}

.volunteerResponsibleLine {
    margin: 4vh 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.volunteerResponsibleComponent {
    width: 49%;
}