* {
    padding: 0;
    margin: 0;
}

/*Variáveis globais*/
:root{
    --NavBar-height: 10vh;
    --Footer-height: 20vh;
}

body{
    overflow: auto;
}

/*Região onde fica o conteúdo entre o header e o footer*/
.contentNav{
    min-height: calc(100vh - var(--Footer-height) - var(--NavBar-height));
    width: 100%;
}

/*Região que fica acima do footer na tela de bem-vindo*/
.contentWelcome{
    min-height: calc(100vh - var(--Footer-height));
    width: 100%;
}

/*Classe para aumentar o tamanho dos elementos ao passar o mouse por cima*/
.hoverScale {
    transition: transform 0.1s; 
}
.hoverScale:hover{
    transform: scale(1.03);
}
/*Funcionamento para inputs de arquivos*/
.hoverScale,input[type="file"]:hover{
    transform: scale(1);
}
.hoverScale::file-selector-button{
    transition: transtorm 0.1s;
    margin: 1px
}
.hoverScale::file-selector-button:hover{
    transform: scale(1.03);
}