.signup-volunteer h2{
    margin-left: 20px;
    padding-top: 10px;
}

.signup-volunteer{

    width: 60%;
    margin: 0 auto;

    margin-top: 200px;
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}


.container-input-forms-volunteer{
    width: 92%;
    margin: 0 auto;
    padding: 30px 20px;
}


.form-row{
    margin: 0 auto;
    margin-bottom: 17px;

}

.img-cadastro-volunteer{
    width: 50%;
    margin-right: 30px;
}

.container-submit-volunteer-create{
    width: 100%;
}


    /*Estilização do nome do cadastro de voluntario*/
    .input-forms-volunteer.nome{
        width: 60%;
        margin-right: 60px;
    }

    /*Estilização do nome do cadastro de voluntario*/
    .input-forms-volunteer.aniversario{
        width: 15%;
    }


    /*Estilização do cpf do cadastro de voluntario*/
    .input-forms-volunteer.cpf{
        width: 30%;
        margin-right: 40px;
    }

    /*Estilização do email do cadastro de voluntario*/
    .input-forms-volunteer.email{
        width: 30%;
        margin-right: 40px;
    }

    /*Estilização do telefone do cadastro de voluntario*/
    .input-forms-volunteer.phone{
        width: 20%;
    }

    /*Estilização do cep do cadastro de voluntario*/
    .input-forms-volunteer.cep{
        width: 15%;
        margin-right: 20px;
    }

    /*Estilização do rua do cadastro de voluntario*/
    .input-forms-volunteer.rua{
        width: 40%;
        margin-right: 20px;
    }

    /*Estilização do numero do cadastro de voluntario*/
    .input-forms-volunteer.numero{
        width: 8%;
    }



    /*Estilização do complemento do cadastro de voluntario*/
    .input-forms-volunteer.complemento{
        width: 15%;
        margin-right: 20px;
    }

    /*Estilização do bairro do cadastro de voluntario*/
    .input-forms-volunteer.bairro{
        width: 25%;
        margin-right: 20px;
    }

    /*Estilização do estado do cadastro de voluntario*/
    .input-forms-volunteer.estado{
        width: 10%;
        margin-right: 20px;
    }

    /*Estilização do cidade do cadastro de voluntario*/
    .input-forms-volunteer.cidade{
        width: 15%;
    }

    /*Estilização da referencia do cadastro de voluntario*/
    .input-forms-volunteer.referencia{
        width: 55%;
        margin-right: 40px;
    }

    /*Estilização do senha do cadastro de voluntario*/
    .input-forms-volunteer.senha{
        width: 30%;
    }

  
    /*Estilizações do file input do cadastro de voluntario*/
    .file-volunteer-register{
        width: 70%;
    }
    .file-volunteer-register::file-selector-button{

        margin-right: 20px;
        border: none;
        background: #084cdf;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
    }
    .file-volunteer-register::file-selector-button:hover{
        background: #0d45a5;
    }



    /*Estilização especifica do botao de criar formulario de voluntario*/
  .create-account-volunteer{
    position: relative;
    left: 20%;
    width: 60%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
