h2{
    margin-left: 20px;
    padding-top: 10px;
}

form {
    width: 60%;
    margin: 0 auto;

    margin-top: 200px;
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.container-input-forms-volunteer{
    width: 92%;
    margin: 0 auto;
    padding: 30px 20px;
    text-align: center;
}


.form-row{
    margin: 0 auto;
    margin-bottom: 17px;
}

.img-cadastro-volunteer{
    width: 50%;
    margin-right: 30px;
}

.container-submi-volunteer-create{
    width: 100%;
}
