.workDescriptionContainer {    
    width: 100%;    
    display: flex;
    justify-content: center;
}

.workDescriptionWrap {
    background-color: white;
    margin: 3vh 1vw;
    width: 36%;
    padding: 5vh 10vw;
}

.workDescriptionContainer p {
    font-size: 1.2rem;
}

.workDescriptionMain {
    width: 100%;
    display: flex;  
    align-items: center;   
    margin-bottom: 4vh;
}

.workDescriptionMainText {
    display: flex;
    padding: 1vh 1vw 1vh 0;
    text-align: justify;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
}

.workDescriptionMainText ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.workDescriptionAbout {
    margin-top: 5vh;
}

.workDescriptionLocationSkills {
    margin-top: 1vh;
}

.workDescriptionImgBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.workDescriptionImgBtn button {
    width: 100%;
}

.workDescriptionImg {
    text-align: center;
    width: 100%;
    margin-bottom: 2vh;
}

.workDescriptionImg img {
    height: 100%;
}

.workDescriptionDate, .workDescriptionEntity {
    border-top: 1px solid gray;
    padding: 4vh 0;
}