#repeating-form{
    border-radius: 12px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#repeating-form .descricaoHorarios{
    margin: 0;
}

.descricaoHorarios{
    font-size: 20px;
    padding-left: 2px;
}

#repeating-form textarea{
    width: 94%;
    border-radius: 10px;
    background-color: #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 22px;
    padding-top: 10px;

}

.horasSemanais{
    margin-top: 15px;
    font-size: 20px;
}

#repeating-form input{
    background-color: #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 92%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 16px;

    border: #59626F solid 1px;
  
}