
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

footer {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: var(--Footer-height);
    background-color: #00162D;
}

.links{
    height: var(--Footer-height);
    vertical-align: center;
    display: flex;
    text-align: center;
}

.links span {
    color: white;
    cursor: pointer;
    margin: auto;
}
